
//font family
$font-display: 'Parisienne', cursive;
$font-primary: 'Quicksand', sans-serif;

//color scheme: 
$color-black: black;
$color-primary: #f29a7f;
$color-secondary: #7ad6bc;

//responsive width 

$largest : 90.625em; // 1450 px
$large : 75em; // 1200px
$medium: 65.625em; // 1050px
$small: 50em; //800px
$xs: 37.5em //600px