%promotion {
    padding: 0.2rem .6rem;
    font-size: 1.2rem;
    position: absolute;
    color: white;

    animation: pulseUp 1s ease-in-out infinite;
}

.promotion {

    &--hot {
        @extend %promotion;
        background-color: $color-primary;
        text-transform: capitalize;
        top: 2px;
        right: -8rem;

    }

    &--popular {
        @extend %promotion;
        
        background-color: $color-secondary;
        text-transform: capitalize;
        top: 2px;
        left: 20rem;
    }
}