
%heading{
    font-size: 5.4rem;
    text-transform: uppercase;    
}

.content__1{
    color: white;
    text-transform: capitalize;
    font-family: $font-display;
    letter-spacing: 1px;
    font-size: 2.5rem;
    font-weight: 100;
    text-align: center
}

.content__2{
    color: white;
    letter-spacing: 1px;
    font-size: 1.7rem;
    font-weight: 300;   
    text-align: center 
}

.content__3{
    font-size: 1.5rem;
    color: #555;
    font-weight: 400;
    margin-bottom: 1rem;

    @include responsive($xs){
        text-align: center
    }
}

.content__4{
    font-size: 2.3rem;
    font-family: $font-display;
    color: white;
    margin-bottom: 1rem;
    font-weight: 100;
    text-transform: capitalize;
    text-align: center
    
}

//heading section

.heading-1{
    @extend %heading;   
    font-weight: 100;
    line-height: 6rem;
    letter-spacing: 1px;
    text-align: center;

    &--light{
        color: white;
    }

    @include responsive($small){
        font-size: 3.9rem;
    }
}

.heading-2{
    font-size: 2.4rem;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
}

.heading-3{
    font-size: 1.9rem;
    font-weight: 600;
    color: #555;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    // margin-bottom: 2rem;
}
