.mb-hg {
  margin-bottom: 8rem !important; }

.mb-big {
  margin-bottom: 6rem !important; }

.mb-md {
  margin-bottom: 3rem !important; }

.mb-sm {
  margin-bottom: 2rem !important; }

.mb-xs {
  margin-bottom: 1rem !important; }

.align-right {
  text-align: right; }

.align-left {
  text-align: left; }

.align-center {
  text-align: center; }

.light-color {
  color: white !important; }

.dark-color {
  color: #444 !important; }

.primary-color {
  color: #f29a7f !important; }

.btn--primary {
  background-color: #f29a7f !important;
  align-self: center; }

.d-flex-start {
  align-items: flex-start !important; }
  @media only screen and (max-width: 37.5em) {
    .d-flex-start {
      align-items: center !important; } }

.display {
  display: flex !important; }

.heading-1 {
  font-size: 5.4rem;
  text-transform: uppercase; }

.content__1 {
  color: white;
  text-transform: capitalize;
  font-family: "Parisienne", cursive;
  letter-spacing: 1px;
  font-size: 2.5rem;
  font-weight: 100;
  text-align: center; }

.content__2 {
  color: white;
  letter-spacing: 1px;
  font-size: 1.7rem;
  font-weight: 300;
  text-align: center; }

.content__3 {
  font-size: 1.5rem;
  color: #555;
  font-weight: 400;
  margin-bottom: 1rem; }
  @media only screen and (max-width: 37.5em) {
    .content__3 {
      text-align: center; } }

.content__4 {
  font-size: 2.3rem;
  font-family: "Parisienne", cursive;
  color: white;
  margin-bottom: 1rem;
  font-weight: 100;
  text-transform: capitalize;
  text-align: center; }

.heading-1 {
  font-weight: 100;
  line-height: 6rem;
  letter-spacing: 1px;
  text-align: center; }
  .heading-1--light {
    color: white; }
  @media only screen and (max-width: 50em) {
    .heading-1 {
      font-size: 3.9rem; } }

.heading-2 {
  font-size: 2.4rem;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center; }

.heading-3 {
  font-size: 1.9rem;
  font-weight: 600;
  color: #555;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center; }

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 90.625em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 40%; } }

body {
  font-size: 1.5rem;
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding: 2rem; }
  @media only screen and (max-width: 50em) {
    body {
      padding: 0; } }

@keyframes pulseUp {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1);
    box-shadow: 0 0.3rem 0.2rem rgba(0, 0, 0, 0.2); }
  100% {
    transform: scale(1); } }

@keyframes fade {
  0% {
    opacity: .4; }
  100% {
    opacity: 1; } }

.fade {
  animation: fade .5s ease-in-out; }

.hero-area {
  grid-column: full-start/full-end;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../img/hero.jpg);
  height: 95vh;
  background-size: cover;
  background-position: center;
  padding: 2rem 1rem;
  position: relative; }
  @media only screen and (max-width: 50em) {
    .hero-area {
      height: 100vh; } }

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

#benefit {
  grid-column: center-start/center-end; }
  @media only screen and (max-width: 65.625em) {
    #benefit {
      display: flex;
      justify-content: center; } }

.benefit {
  padding: 9rem 0; }
  .benefit__area {
    display: grid;
    grid-template-columns: repeat(3, minmax(2.5rem, 1fr));
    grid-template-rows: repeat(2, 38rem); }
    @media only screen and (max-width: 65.625em) {
      .benefit__area {
        grid-template-columns: repeat(2, 36rem);
        grid-template-rows: repeat(3, 38rem); } }
    @media only screen and (max-width: 37.5em) {
      .benefit__area {
        grid-template-columns: repeat(2, 25rem);
        grid-template-rows: repeat(3, min-content); } }
  .benefit__img {
    width: 100%; }
    @media only screen and (max-width: 65.625em) {
      .benefit__img {
        width: 100%;
        height: 100%;
        object-fit: cover; } }
    .benefit__img--2 {
      grid-column: 2/3;
      grid-row: 2/3; }
      @media only screen and (max-width: 65.625em) {
        .benefit__img--2 {
          grid-column: 2/3;
          grid-row: 2/3; } }
    @media only screen and (max-width: 65.625em) {
      .benefit__img--3 {
        grid-column: 1/2;
        grid-row: 3/4; } }
  .benefit__card {
    background-color: #f3f3f3;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .benefit__card--2 {
      grid-column: 2/3;
      grid-row: 1/2; }
    @media only screen and (max-width: 65.625em) {
      .benefit__card--1 {
        grid-column: 1/2;
        grid-row: 2/3; } }

#philosophy {
  grid-column: full-start/full-end;
  display: flex; }
  @media only screen and (max-width: 50em) {
    #philosophy {
      flex-direction: column; } }

.philosophy-img--1, .philosophy-img--2, .philosophy-img--3 {
  width: 100%;
  height: 45rem;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 50em) {
    .philosophy-img--1, .philosophy-img--2, .philosophy-img--3 {
      height: 70rem;
      background-size: cover; } }

.philosophy-img--1 {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/phi1.jpeg);
  margin-right: 2rem; }

.philosophy-img--2 {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/phi2.jpeg);
  margin-right: 2rem; }
  @media only screen and (max-width: 50em) {
    .philosophy-img--2 {
      background-position: top; } }

.philosophy-img--3 {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/phi3.jpeg); }

#expert {
  grid-column: center-start/center-end;
  padding: 10rem 0; }

#testimonials {
  grid-column: full-start/full-end;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../img/testimonial.jpg);
  height: 60rem;
  background-position: center;
  background-size: cover;
  padding: 10rem 0;
  background-attachment: fixed; }
  @media only screen and (max-width: 37.5em) {
    #testimonials {
      height: 68rem; } }

#statics {
  grid-column: full-start/full-end;
  background-color: #7ad6bc;
  padding: 10rem 33rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  justify-content: center; }
  @media only screen and (max-width: 37.5em) {
    #statics {
      padding: 7rem 5rem; } }

.static {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 75em) {
    .static {
      margin-bottom: 3.5rem; } }
  .static__icon {
    height: 6rem; }
  .static__number {
    font-size: 5.7rem;
    color: white;
    font-weight: 400;
    line-height: 6.5rem; }
  .static__name {
    font-size: 1.3rem;
    color: white;
    text-transform: capitalize; }

#price {
  grid-column: full-start / full-end;
  background-color: #f0f0f0;
  padding: 7rem 35rem;
  position: relative;
  display: flex;
  flex-direction: column; }
  #price-7 {
    border: none; }
    @media only screen and (max-width: 75em) {
      #price-7 {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2); } }
  @media only screen and (max-width: 65.625em) {
    #price {
      padding: 5rem 18rem; } }
  @media only screen and (max-width: 37.5em) {
    #price {
      padding: 3rem 10rem; } }

.price__section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 6rem;
  grid-row-gap: 3rem; }
  @media only screen and (max-width: 75em) {
    .price__section {
      grid-template-columns: 1fr; } }
  .price__section div {
    position: relative; }

.price__each {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2rem; }
  .price__each:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.price__heading {
  font-size: 1.9rem;
  text-transform: uppercase;
  color: #444; }

.price__detail {
  color: #777; }

.price__label {
  font-family: "Parisienne", cursive;
  font-size: 2rem;
  color: #f29a7f;
  font-weight: 700; }

#services {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr)); }

#product-use {
  grid-column: center-start / center-end;
  display: flex;
  padding: 7rem 0; }
  @media only screen and (max-width: 65.625em) {
    #product-use {
      flex-direction: column;
      align-items: center; } }

.product-use__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  @media only screen and (max-width: 37.5em) {
    .product-use__left {
      align-items: center; } }

.product-use__steps {
  width: 100%;
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .product-use__steps {
      flex-direction: column; } }

.product-use__step {
  display: grid;
  grid-template-columns: min-content max-content;
  grid-template-rows: repeat(2, min-content);
  grid-column-gap: 1rem;
  justify-items: center;
  align-items: center; }
  .product-use__step:not(:last-child) {
    margin-right: 4rem; }
    @media only screen and (max-width: 37.5em) {
      .product-use__step:not(:last-child) {
        margin-right: 0;
        margin-bottom: 3rem; } }
  .product-use__step--number {
    grid-column: 1/2;
    grid-row: 1/3;
    color: #f29a7f;
    font-size: 2.5rem;
    font-weight: 100;
    width: 4.2rem;
    height: 4.2rem;
    border: 1px solid #f29a7f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .product-use__step--name {
    justify-self: start;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #444;
    font-weight: 500; }
  .product-use__step--detail {
    justify-self: start;
    font-size: 1.3rem;
    color: #777777; }

.product-use__right--img {
  height: 45rem; }
  @media only screen and (max-width: 65.625em) {
    .product-use__right--img {
      height: 35rem; } }

#CTA {
  grid-column: full-start / full-end;
  background-color: #f29a7f;
  padding: 7rem 0;
  display: flex;
  flex-direction: column;
  align-items: center; }

.CTA__wrapper {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.CTA__form-group {
  display: flex; }

.CTA__form {
  border: none;
  margin-right: 1.5rem;
  border-radius: .5rem;
  padding: 0 2rem;
  font-size: 1.4rem;
  font-family: "Quicksand", sans-serif;
  width: 25rem;
  height: 3.5rem; }
  .CTA__form:focus {
    outline-color: #7ad6bc;
    background-color: #eee; }

.CTA__btn {
  padding: .8rem 1.4rem;
  color: white;
  border: 1px solid white;
  border-radius: .5rem;
  background-color: transparent;
  cursor: pointer;
  transition: all .3s; }
  .CTA__btn:hover {
    background-color: white;
    color: #f29a7f; }

.header {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .header__logo {
    height: 11rem; }
  .header__right {
    display: flex; }
    @media only screen and (max-width: 50em) {
      .header__right {
        flex-direction: column;
        align-items: flex-end; } }
  .header__responsive {
    display: none; }
    .header__responsive--icon {
      font-size: 10rem;
      color: white; }
    @media only screen and (max-width: 50em) {
      .header__responsive {
        display: block; } }
  .header__menu {
    display: flex;
    position: relative; }
    @media only screen and (max-width: 50em) {
      .header__menu {
        flex-direction: column;
        align-items: flex-end;
        margin-top: 3rem;
        display: none; } }
    .header__menu--item {
      list-style: none;
      color: white;
      text-transform: uppercase;
      font-size: 1.5rem; }
      .header__menu--item:not(:last-child) {
        margin-right: 7rem; }
      @media only screen and (max-width: 50em) {
        .header__menu--item:not(:last-child) {
          margin-right: 0rem;
          margin-bottom: 2.3rem; } }
    .header__menu--link:visited, .header__menu--link:link {
      color: white;
      text-decoration: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: all .4s; }
    .header__menu--link::before {
      content: '';
      background-color: #f29a7f;
      height: 2px;
      width: 8rem;
      position: absolute;
      bottom: -1rem;
      transform: scaleX(0);
      transition: all .2s ease-out; }
    .header__menu--item:hover .header__menu--link {
      color: #f29a7f;
      transform: translateY(-0.5rem); }
    .header__menu--item:hover .header__menu--link::before {
      color: #f29a7f;
      transform: scaleX(1); }

.fas, .fa {
  font-size: 3.5rem;
  color: white; }

#footer {
  grid-column: full-start / full-end;
  background-color: #333;
  padding: 7rem 0;
  display: flex;
  justify-content: center; }

.footer__wrapper {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media only screen and (max-width: 65.625em) {
    .footer__wrapper {
      flex-direction: column;
      align-items: center; } }

.footer__logo {
  height: 25rem; }
  @media only screen and (max-width: 75em) {
    .footer__logo {
      height: 20rem; } }

@media only screen and (max-width: 65.625em) {
  .footer__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3.5rem; } }

.footer__contact-info {
  display: flex; }
  .footer__contact-info:not(:last-child) {
    margin-bottom: 1.5rem; }

.footer__contact-icon {
  font-size: 2.5rem;
  margin-right: 1.5rem; }

.footer__project {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  @media only screen and (max-width: 65.625em) {
    .footer__project {
      display: flex;
      flex-direction: column;
      align-items: center; } }

.footer__project-wrapper:not(:last-child) {
  margin-bottom: 1.5rem; }

@media only screen and (max-width: 65.625em) {
  .footer__project-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; } }

.footer__project-link:visited, .footer__project-link:link {
  color: #f29a7f;
  text-decoration: none;
  font-size: 1.6rem;
  text-transform: uppercase;
  transition: all .3s; }

.footer__project-link:hover {
  color: white; }

#app {
  display: grid;
  grid-template-columns: [full-start] minmax(5rem, 1fr) [center-start] repeat(8, minmax(3rem, 14.25rem)) [center-end] minmax(5rem, 1fr) [full-end]; }

.CTA__1:link, .CTA__1:visited, .CTA__2:link, .CTA__2:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  display: inline-block;
  overflow: hidden;
  transition: all .3s; }

.CTA__1::before, .CTA__2::before {
  content: "";
  background-color: white;
  height: 1.5rem;
  width: 20rem;
  position: absolute;
  left: 0;
  opacity: .7;
  transition: all 0.7s cubic-bezier(0.82, 0.02, 0.13, 1); }

.CTA__1 {
  position: relative; }
  .CTA__1:link, .CTA__1:visited {
    padding: 2rem 4rem;
    background-color: #f29a7f; }
  .CTA__1::before {
    transform: rotate(120deg) translateY(11rem); }
  .CTA__1:hover {
    background-color: #f78a5f;
    transform: translateY(-1rem);
    box-shadow: 0.2rem 0.3rem 2rem rgba(0, 0, 0, 0.3); }
  .CTA__1:hover::before {
    transform: rotate(120deg) translateY(-14rem); }

.CTA__2 {
  position: relative; }
  .CTA__2:link, .CTA__2:visited {
    padding: .6rem 1.5rem;
    background-color: #7ad6bc; }
  .CTA__2::before {
    transform: rotate(120deg) translateY(11rem); }
  .CTA__2:hover {
    background-color: #60dab7;
    transform: translateY(-0.5rem);
    box-shadow: 0rem 0.3rem 1rem rgba(0, 0, 0, 0.3); }
  .CTA__2:hover::before {
    transform: rotate(120deg) translateY(-4rem); }

.title {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .title__divider {
    height: 2.5rem; }

.expert__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  align-items: center; }

.expert__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; }

.expert__img-cap {
  position: relative; }

.expert__img {
  height: 20rem;
  border-radius: 50%;
  margin-bottom: 1.5rem;
  overflow: hidden;
  transition: all .4s; }

.expert__letter {
  text-decoration: none;
  opacity: 0;
  visibility: hidden;
  transition: all .4s .3s;
  position: absolute;
  top: 7rem;
  left: 7rem;
  cursor: pointer;
  transform: scale(1.2); }

.expert__letter-icon {
  color: #7ad6bc;
  font-size: 6rem;
  position: relative; }
  .expert__letter-icon::after {
    content: "";
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    border: 1px solid #7ad6bc;
    position: absolute;
    top: -2rem;
    left: -2rem; }

.expert__name {
  text-transform: uppercase;
  font-size: 1.6rem;
  color: #444; }

.expert__specialty {
  text-transform: capitalize;
  color: #b3b3b3;
  font-size: 1.4rem; }

.expert__card:hover .expert__img {
  filter: blur(0.1rem) brightness(50%); }

.expert__card:hover .expert__letter {
  opacity: 1;
  visibility: visible;
  transform: scale(1); }

.testimonial__section {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  position: relative; }

.testimonial__person {
  display: flex;
  align-items: center;
  margin-top: 3rem; }

.testimonial__img {
  height: 7rem;
  border-radius: 50%;
  margin-right: 2rem; }

.testimonial__quote {
  font-size: 8rem;
  color: white;
  position: absolute;
  top: -5.6rem;
  left: -3rem;
  opacity: .8; }

.promotion--hot, .promotion--popular {
  padding: 0.2rem .6rem;
  font-size: 1.2rem;
  position: absolute;
  color: white;
  animation: pulseUp 1s ease-in-out infinite; }

.promotion--hot {
  background-color: #f29a7f;
  text-transform: capitalize;
  top: 2px;
  right: -8rem; }

.promotion--popular {
  background-color: #7ad6bc;
  text-transform: capitalize;
  top: 2px;
  left: 20rem; }

.service {
  position: relative;
  overflow: hidden; }
  .service__img {
    width: 100%;
    transition: all .2s ease-in; }
  .service__icon {
    position: absolute;
    top: 40%;
    left: 50%;
    transition: all .3s .2s ease-in;
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -50%) scale(1.2); }
  .service__link:not(:last-child) {
    margin-right: 2rem; }
  .service__link:link, .service__link:visited {
    text-decoration: none; }
  .service__link--icon {
    color: #f29a7f;
    transition: all .2s; }
  .service__link:hover .service__link--icon {
    transform: translateY(-0.8rem); }
  .service__info {
    background-color: #444;
    text-align: center;
    padding: 1.5rem 0;
    position: absolute;
    bottom: .6rem;
    left: 0;
    width: 100%;
    transition: all .4s .2s ease-in;
    visibility: hidden;
    opacity: 0;
    transform: translateY(1.2rem); }
  .service__heading {
    font-size: 2.1rem;
    color: #eee;
    text-transform: uppercase;
    font-weight: 300; }
  .service__detail {
    color: #eee;
    font-size: 1.4rem; }

.service:hover .service__img {
  filter: blur(1px) brightness(50%); }

.service:hover .service__icon {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1); }

.service:hover .service__info {
  opacity: 1;
  visibility: visible;
  transform: translateY(0); }

.modal {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center; }
  .modal__wrapper {
    width: 70%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 4rem;
    position: relative; }
  .modal__icon {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2rem;
    color: #7ad6bc;
    cursor: pointer; }
    .modal__icon:hover {
      color: #555; }
